.header {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  /* justify-items: end;
  align-items: center; */
  place-items: center end;
}

.header h2 {
  margin-left: 1rem;
}

.header ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  padding: 10px;
}

.header li {
  margin-right: 0.4rem;
  border-bottom: solid 1px black;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.header a:hover,
.header a:active {
  color: blue;
  border-bottom: solid 1px blue;
}
