.container {
  margin: 1.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.2rem;
  justify-items: center;
  padding-top: 3rem;
  margin: auto 1rem;;
}