.card {
  display: flex;
  flex-flow: column;
  max-width: 25rem;
  /* justify-content: flex-start; */
}

.card img{
width: 100%;
height: 25rem;
}

.card div{
  margin: 0.2rem;
}

.btn {
  font: inherit;
  cursor: pointer;
  margin:  0.6rem;;
  background-color: blue;
  border: blue;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
}